version: "3.9"

services:
  db:
    image: mysql:9.1.0
    environment:
      MYSQL_ROOT_PASSWORD: Innovation
      MYSQL_DATABASE: edubrowser
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-pInnovation"]
      interval: 10s
      timeout: 5s
      retries: 10

  dashboard:
    build:
      context: .
      dockerfile: react-dashboard/Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: Innovation
      DB_NAME: edubrowser
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app

volumes:
  db_data:
